a {
  color: black !important;
}

.login, .signup{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.login-label,
.password-label,
.name-label,
.email-label {
  text-align: left;
  display: block;
}

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #1b9764;
  box-shadow: 0 0px 0 0;
}

.all-card {
  margin: 5px auto;
  max-width: 400px;
  height: max-content;
}

.create-card {
  margin: 40px auto;
  max-width: 500px;
  padding: 30px;
  text-align: left;
}

.submit-btn {
  margin: 0 auto;
  display: block;
}

.desc-textarea {
  border: 0px;
  max-height: 300px;
}

.profile-header {
  margin: 10px 0px;
}

.likes-div {
  display: flex;
  justify-content: center;
}

.title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.title-div i {
  vertical-align: middle;
  cursor: pointer;
}

.circle-logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
}

.circle-logo img {
  height: 80px;
  width: auto;
  vertical-align: middle;
}

.brand-logo div {
  vertical-align: middle;
}